<!DOCTYPE html>
<html>
<head>
<title>Add Menu Item</title>
</head>

<body>

<h1>Add New Menu Item</h1>

<form action="/menu" method="POST">

<input type="text" name="menu[name]" placeholder="Name"><br><br>

<input type="text" name="menu[description]" placeholder="Description"><br><br>

<input type="number" name="menu[price]" placeholder="Price"><br><br>

<input type="text" name="menu[category]" placeholder="Category"><br><br>

<input type="text" name="menu[emoji]" placeholder="Emoji"><br><br>

<input type="text" name="menu[poster]" placeholder="Image Link"><br><br>

<input type="text" name="menu[model]" placeholder="3D Model Link"><br><br>

<button type="submit">Create</button>

</form>



</body>
</html>